<a href="https://colab.research.google.com/github/ansegundo/flight_ticket_price/blob/master/preprocess.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
#mounting google drive to access data

from google.colab import drive
drive.mount('/content/gdrive')

Mounted at /content/gdrive

In [0]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from pathlib import Path
from datetime import datetime

plt.style.use('fivethirtyeight')
sns.set_style("whitegrid")
%matplotlib inline

import warnings
warnings.filterwarnings(action='once')

In [45]:
df_train = pd.read_excel('/content/gdrive/My Drive/Colab Notebooks/flight_ticket_price/data/raw_train.xlsx')
df_test  = pd.read_excel('/content/gdrive/My Drive/Colab Notebooks/flight_ticket_price/data/raw_test.xlsx')

print(df_train.shape)
print(df_test.shape)

(10683, 11)
(2671, 10)

In [46]:
df_train.head(2)

,Airline,Date_of_Journey,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Price
0,IndiGo,24/03/2019,Banglore,New Delhi,BLR → DEL,22:20,01:10 22 Mar,2h 50m,non-stop,No info,3897
1,Air India,1/05/2019,Kolkata,Banglore,CCU → IXR → BBI → BLR,05:50,13:15,7h 25m,2 stops,No info,7662

In [47]:
df_test.head(2)

,Airline,Date_of_Journey,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info
0,Jet Airways,6/06/2019,Delhi,Cochin,DEL → BOM → COK,17:30,04:25 07 Jun,10h 55m,1 stop,No info
1,IndiGo,12/05/2019,Kolkata,Banglore,CCU → MAA → BLR,06:20,10:20,4h,1 stop,No info

In [0]:
dataframes = [df_train, df_test]

In [49]:
df_train.isnull().sum()

Airline            0
Date_of_Journey    0
Source             0
Destination        0
Route              1
Dep_Time           0
Arrival_Time       0
Duration           0
Total_Stops        1
Additional_Info    0
Price              0
dtype: int64

In [50]:
df_train[df_train['Route'].isnull()]

,Airline,Date_of_Journey,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Price
9039,Air India,6/05/2019,Delhi,Cochin,NaN,09:45,09:25 07 May,23h 40m,NaN,No info,7480

In [0]:
df_train.dropna(inplace=True)

In [52]:
df_test.isnull().sum()

Airline            0
Date_of_Journey    0
Source             0
Destination        0
Route              0
Dep_Time           0
Arrival_Time       0
Duration           0
Total_Stops        0
Additional_Info    0
dtype: int64

In [53]:
print(df_train[df_train.duplicated()].count())
print(df_test[df_test.duplicated()].count())

Airline            220
Date_of_Journey    220
Source             220
Destination        220
Route              220
Dep_Time           220
Arrival_Time       220
Duration           220
Total_Stops        220
Additional_Info    220
Price              220
dtype: int64
Airline            26
Date_of_Journey    26
Source             26
Destination        26
Route              26
Dep_Time           26
Arrival_Time       26
Duration           26
Total_Stops        26
Additional_Info    26
dtype: int64

In [0]:
df_train.drop_duplicates(keep='first', inplace=True)

In [55]:
df_train['Additional_Info'].value_counts()

No info                         8182
In-flight meal not included     1926
No check-in baggage included     318
1 Long layover                    19
Change airports                    7
Business class                     4
No Info                            3
1 Short layover                    1
Red-eye flight                     1
2 Long layover                     1
Name: Additional_Info, dtype: int64

In [0]:
df_train['Additional_Info'] = df_train['Additional_Info'].replace({'No Info': 'No info'})

In [57]:
df_test['Additional_Info'].value_counts()

No info                         2148
In-flight meal not included      444
No check-in baggage included      76
Change airports                    1
Business class                     1
1 Long layover                     1
Name: Additional_Info, dtype: int64

In [58]:
for dataframe in dataframes:
    print(dataframe['Destination'].value_counts())

Cochin       4345
Banglore     2860
Delhi        1265
New Delhi     914
Hyderabad     697
Kolkata       381
Name: Destination, dtype: int64
Cochin       1145
Banglore      710
Delhi         317
New Delhi     238
Hyderabad     186
Kolkata        75
Name: Destination, dtype: int64

In [59]:
for dataframe in dataframes:
    print(dataframe['Source'].value_counts())

Delhi       4345
Kolkata     2860
Banglore    2179
Mumbai       697
Chennai      381
Name: Source, dtype: int64
Delhi       1145
Kolkata      710
Banglore     555
Mumbai       186
Chennai       75
Name: Source, dtype: int64

In [0]:
for dataframe in dataframes:
    # print(dataframe['Total_Stops'].value_counts())
    dataframe['Total_Stops'].replace(['1 stop', 'non-stop', '2 stops', '3 stops', '4 stops'], [1, 0, 2, 3, 4], inplace=True)
    dataframe['Total_Stops'] = dataframe['Total_Stops'].astype(int)

In [0]:
for dataframe in dataframes:
    #print(type(dataframe['Date_of_Journey']))
    dataframe['Date_of_Journey'] = pd.to_datetime(dataframe['Date_of_Journey'], format = '%d/%m/%Y')
    dataframe['Day'] = dataframe['Date_of_Journey'].dt.day
    dataframe['DayName'] = dataframe['Date_of_Journey'].dt.day_name()
    dataframe['Month'] = dataframe['Date_of_Journey'].dt.month
    dataframe['isWeekend'] = ((dataframe['Date_of_Journey'].dt.dayofweek) // 5 == 1).astype(int)

In [62]:
df_train.head(5)

,Airline,Date_of_Journey,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Price,Day,DayName,Month,isWeekend
0,IndiGo,2019-03-24,Banglore,New Delhi,BLR → DEL,22:20,01:10 22 Mar,2h 50m,0,No info,3897,24,Sunday,3,1
1,Air India,2019-05-01,Kolkata,Banglore,CCU → IXR → BBI → BLR,05:50,13:15,7h 25m,2,No info,7662,1,Wednesday,5,0
2,Jet Airways,2019-06-09,Delhi,Cochin,DEL → LKO → BOM → COK,09:25,04:25 10 Jun,19h,2,No info,13882,9,Sunday,6,1
3,IndiGo,2019-05-12,Kolkata,Banglore,CCU → NAG → BLR,18:05,23:30,5h 25m,1,No info,6218,12,Sunday,5,1
4,IndiGo,2019-03-01,Banglore,New Delhi,BLR → NAG → DEL,16:50,21:35,4h 45m,1,No info,13302,1,Friday,3,0

In [63]:
df_train.tail(5)

,Airline,Date_of_Journey,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Price,Day,DayName,Month,isWeekend
10678,Air Asia,2019-04-09,Kolkata,Banglore,CCU → BLR,19:55,22:25,2h 30m,0,No info,4107,9,Tuesday,4,0
10679,Air India,2019-04-27,Kolkata,Banglore,CCU → BLR,20:45,23:20,2h 35m,0,No info,4145,27,Saturday,4,1
10680,Jet Airways,2019-04-27,Banglore,Delhi,BLR → DEL,08:20,11:20,3h,0,No info,7229,27,Saturday,4,1
10681,Vistara,2019-03-01,Banglore,New Delhi,BLR → DEL,11:30,14:10,2h 40m,0,No info,12648,1,Friday,3,0
10682,Air India,2019-05-09,Delhi,Cochin,DEL → GOI → BOM → COK,10:55,19:15,8h 20m,2,No info,11753,9,Thursday,5,0

In [0]:
for dataframe in dataframes:
    duration = dataframe['Duration'].tolist()
    
    for i in range(len(duration)):
        if len(duration[i].split()) != 2:
            if 'h' in duration[i] :
                duration[i] = duration[i].strip() + ' 0m'
            elif 'm' in duration[i] :
                duration[i] = '0h {}'.format(duration[i].strip())
    minutes = []  
    for i in range(len(duration)) :
        minutes.append(int(duration[i].split()[0][:-1])*60 + int(duration[i].split()[1][:-1]))
    dataframe["Duration_minutes"] = minutes

In [0]:
for dataframe in dataframes:
    #print('Dep', type(dataframe['Dep_Time']))
    #print('Arr', type(dataframe['Arrival_Time']))
    
    dataframe['Dep_Time'] = pd.to_datetime(dataframe['Dep_Time'])
    dataframe['Dep_time_Hour'] = dataframe['Dep_Time'].dt.hour
    dataframe['Dep_time_Min'] = dataframe['Dep_Time'].dt.minute
    
    dataframe['Arrival_Time'] = pd.to_datetime(dataframe['Arrival_Time'])
    dataframe['Arrival_Time_Hour'] = dataframe['Arrival_Time'].dt.hour
    dataframe['Arrival_Time_Min'] = dataframe['Arrival_Time'].dt.minute

In [0]:
df_train['LogPrice'] = np.log1p(df_train["Price"])

In [0]:
'''

ToDo: 
    Calculate total distance travaled based on the stops
    Maybe create a feature isHoliday
'''

In [0]:
#saving preprocessed files

df_train.to_excel('/content/gdrive/My Drive/Colab Notebooks/flight_ticket_price/data/preprocessed_train.xlsx')
df_test.to_excel('/content/gdrive/My Drive/Colab Notebooks/flight_ticket_price/data/preprocessed_test.xlsx')

In [77]:
print(df_train.columns)
df_train.head(2)

Index(['Airline', 'Date_of_Journey', 'Source', 'Destination', 'Route',
       'Dep_Time', 'Arrival_Time', 'Duration', 'Total_Stops',
       'Additional_Info', 'Price', 'Day', 'DayName', 'Month', 'isWeekend',
       'Duration_minutes', 'Dep_time_Hour', 'Dep_time_Min',
       'Arrival_Time_Hour', 'Arrival_Time_Min', 'LogPrice'],
      dtype='object')

,Airline,Date_of_Journey,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,...,Day,DayName,Month,isWeekend,Duration_minutes,Dep_time_Hour,Dep_time_Min,Arrival_Time_Hour,Arrival_Time_Min,LogPrice
0,IndiGo,2019-03-24,Banglore,New Delhi,BLR → DEL,2019-04-18 22:20:00,2019-03-22 01:10:00,2h 50m,0,No info,...,24,Sunday,3,1,170,22,20,1,10,8.268219
1,Air India,2019-05-01,Kolkata,Banglore,CCU → IXR → BBI → BLR,2019-04-18 05:50:00,2019-04-18 13:15:00,7h 25m,2,No info,...,1,Wednesday,5,0,445,5,50,13,15,8.944159

In [78]:
print(df_test.columns)
df_test.head(2)

Index(['Airline', 'Date_of_Journey', 'Source', 'Destination', 'Route',
       'Dep_Time', 'Arrival_Time', 'Duration', 'Total_Stops',
       'Additional_Info', 'Day', 'DayName', 'Month', 'isWeekend',
       'Duration_minutes', 'Dep_time_Hour', 'Dep_time_Min',
       'Arrival_Time_Hour', 'Arrival_Time_Min'],
      dtype='object')

,Airline,Date_of_Journey,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Day,DayName,Month,isWeekend,Duration_minutes,Dep_time_Hour,Dep_time_Min,Arrival_Time_Hour,Arrival_Time_Min
0,Jet Airways,2019-06-06,Delhi,Cochin,DEL → BOM → COK,2019-04-18 17:30:00,2019-06-07 04:25:00,10h 55m,1,No info,6,Thursday,6,0,655,17,30,4,25
1,IndiGo,2019-05-12,Kolkata,Banglore,CCU → MAA → BLR,2019-04-18 06:20:00,2019-04-18 10:20:00,4h,1,No info,12,Sunday,5,1,240,6,20,10,20

In [0]:
for dataframe in dataframes:
    dataframe.drop(columns=['Date_of_Journey','Dep_Time','Arrival_Time','Duration',], inplace=True)
    
df_train.drop(columns=['Price'], inplace=True)

In [0]:
#saving preprocessed files

df_train.to_excel('/content/gdrive/My Drive/Colab Notebooks/flight_ticket_price/data/final_train.xlsx')
df_test.to_excel('/content/gdrive/My Drive/Colab Notebooks/flight_ticket_price/data/final_test.xlsx')